spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origin-patterns: "*"
                allowed-headers: "*"
                allowed-methods: "*"
          routes:
            - id: order-route
              uri: lb://service-order
              predicates:
                - Path=/api/order/**
            - id: product-route
              uri: lb://service-product
              predicates:
                - Path=/api/product/**
              filters:
                - OnceToken=X-JOJO-Token, uuid
            - id: jojo-vip
              uri: https://cn.bing.com
              predicates:
                - name: Path
                  args:
                    pattern: /search
                # - Vip=user,DIO # matches /search?q=DIO
                # will search on Bing https://cn.bing.com/search?q=DIO
                - name: Vip
                  args:
                    param: q
                    value: DIO
